@Model = PhoneViewModel

<h1>ShowPhones</h1>
<div class="img-thumbnail">
    <table>
        <tr>
            @foreach (Phone phone in Model.Phones)
            {
        <tr>
            <td>
                @phone.Name
            </td>
            <td>
                <img src="@phone.ImageUrl" alt="" />
            </td>
            <td>
                @phone.Price
            </td>
        </tr>
           
        }
            </tr>
        </table>
</div>
