@model PhoneViewModel

<div>
    <h2>@Model.CurrentCompany</h2>
</div>

<div>
    <table>
        @foreach (Phone phone in Model.Phones)
        {
            <tr>
                <td>
                    <p>@phone.Name</p>
                </td>
                <td>
                    <p><img src="@phone.ImageUrl" alt="" width="100" height="100" /></p>
                </td>
                <td>
                    <p>@phone.Price.ToString("c")</p>
                </td>
            </tr>
        }
    </table>
</div>